img{
    height: 300px;
}

body{
    margin:0;
}

header{
    background: #281B2D;
    color:#fff;
    text-align: center;
    padding: 20px;
}

h1{
    font-size: 72px;
    margin:0;
}

.subhead{
    color:#FCD801;
    background: #281B2D;
    font-size: 40px;
    border-bottom: solid 10px #00C54C;
    padding: 20px 20px;
}

.white-text{
    color:#fff;
}

.container{
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.col{
    display:flex;
}

.sidebar{
    margin-left: 20px;
    background:#9ae84f;
    padding: 15px;
}

.right-child{
    margin-left: 20px;
}